.c-container{
    justify-content: space-around;
    gap: 1rem;
    padding: 30px 100px;
}

.c-container img{
    width: 9rem;
}

 @media (max-width: 767px) {
    .c-container {
      padding: 30px 20px;
    }

 }